################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/KinectUnity/v15/Server/sqlite3
*.lock
/Temp/UnityLockfile
*.meta
*.info
/Library/metadata
/Temp/UnityVS_bin/Debug
/Temp/UnityVS_obj/Debug
/Temp/__Backupscenes
/Temp
